{% extends 'catalog/base.html' %}

{% block content %}
<div class="container text-start">
    <div class="row my-3">
        <!-- Author Name Section -->
        <div class="col-12">
            <h4>{{ author.first_name }} {{ author.last_name }}</h4>
        </div>
    </div>

    <!-- Author Details Section -->
    <div class="row mb-4">
        <div class="col-12">
            <p><strong>Date of Birth:</strong> {{ author.date_of_birth|date:"F j, Y" }}</p>
        </div>
    </div>

    <!-- Photo Section -->
    <div class="row mb-4">
        <div class="col-12">
            <h5>Photo (portrait)</h5>
            {% if author.photo and author.photo.url %}
                <img src="{{ author.photo.url }}" alt="Portrait of {{ author.first_name }} {{ author.last_name }}" class="img-fluid" style="max-height: 200px;">
                <div class="mt-3">
                    <a href="{{ author.photo.url }}" class="btn btn-primary" target="_blank">View Full Image</a>
                </div>
            {% else %}
                <p class="text-muted">No photo available.</p>
            {% endif %}
        </div>
    </div>

    <!-- About Section -->
    <div class="row mb-4">
        <div class="col-12">
            <h5>About</h5>
            <div class="author-about">
                {{ author.about|safe }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
