{% extends 'catalog/base.html' %}
{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">Book Details: "{{ book.title }}"</h1>

    <table class="table table-bordered table-striped">
        <!-- Book Title and Author -->
        <tr>
            <th scope="row">Title</th>
            <td>{{ book.title }}</td>
        </tr>
        <tr>
            <th scope="row">Author(s)</th>
            <td>
                {% for author in book.author.all %}
                    <a href="{% url 'authors-detail' author.id %}">{{ author.first_name }} {{ author.last_name }}</a>{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </td>
        </tr>

        <!-- Book Cover -->
        <tr>
            <th scope="row">Cover</th>
            <td>
                {% if book.photo %}
                    <img src="{{ book.photo.url }}" alt="Cover of {{ book.title }}" class="img-fluid" style="max-height: 200px;">
                    <div class="mt-2">
                        <a href="{{ book.photo.url }}" class="btn btn-primary" target="_blank">View Full Cover</a>
                    </div>
                {% else %}
                    <span class="text-muted">No cover available</span>
                {% endif %}
            </td>
        </tr>

        <!-- Genre, ISBN, Language, and Publisher -->
        <tr>
            <th scope="row">Genre</th>
            <td>{{ book.genre }}</td>
        </tr>
        <tr>
            <th scope="row">ISBN</th>
            <td>{{ book.isbn }}</td>
        </tr>
        <tr>
            <th scope="row">Language</th>
            <td>{{ book.language }}</td>
        </tr>
        <tr>
            <th scope="row">Publisher</th>
            <td>{{ book.publisher }}</td>
        </tr>

        <!-- Book Summary -->
        <tr>
            <th scope="row">Annotation</th>
            <td>{{ book.summary }}</td>
        </tr>

        <!-- Book Instances -->
        {% if book.bookinstance_set.exists %}
            {% for copy in book.bookinstance_set.all %}
            <tr>
                <th scope="row">Inventory Number</th>
                <td>{{ copy.inv_num }}</td>
            </tr>
            <tr>
                <th scope="row">Status</th>
                <td>
                    <!-- Conditional styling based on status -->
                    {% include "catalog/book_status.html" %}
                </td>
            </tr>
            {% endfor %}
        {% else %}
            <tr>
                <th scope="row">Copies Available</th>
                <td class="text-muted">No copies available.</td>
            </tr>
        {% endif %}

    </table>
</div>
{% endblock %}
