{% extends 'catalog/base.html' %}
<head>
{% load static %}
</head>
{% block content %}
<div class="container-fluid">
    <div class="row my-2 text-center">
        <div class="col-5"></div>
        <div class="col-1 text-center">
            <img src="{% static 'images/SIS.jpg' %}" alt="SIS" style="width:300px">
        </div>
        <div class="col-5"></div>
    </div>
    <div class="row my-2 text-primary text-center">
        <h3>{{ name }}</h3>
    </div>
    <div class="row my-2 text-muted text-center">
        <h4>{{ text_head }}</h4>
    </div>
    <div class="row my-2"></div>
    <div class="row my-2">
        <!-- Empty columns on the left of the table -->
        <div class="col-3"></div>
        <div class="col-6">
            <table class="table table-striped table-bordered text-start">
                <thead>
                <tr>
                    <th>Address</th>
                    <th>Telephone number</th>
                    <th>Email</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ address }}</td>
                    <td>{{ telephone_number }}</td>
                    <td>{{ email }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- Empty columns on the right of the table -->
        <div class="col-3"></div>
    </div>
    <!-- Map -->
    <div class="row my-2 text-center">
        <div class="col-2"></div>
        <div class="col-8">
            <img src="{% static 'images/address.jpg' %}" class="img-fluid" alt="Address" style="width:300px">
        </div>
        <div class="col-2"></div>
    </div>
</div>
{% endblock %}
