{% extends "catalog/base.html" %}

{% block content %}
<div class="container-fluid my-2">
    <!-- Header Section -->
    <div class="row">
        <div class="col text-center text-dark py-2">
            <h4>There are {{ num_books }} books and {{ num_authors }} authors in our database.</h4>
        </div>
    </div>

    <!-- Books Display Section -->
    <div class="row">
        {% if page_obj.object_list %}
            {% for book in page_obj.object_list %}
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <div class="card h-100">
                    <!-- Make the entire card clickable by wrapping it in an anchor tag -->
                    <a href="{% url 'book-detail' book.id %}" class="stretched-link text-decoration-none">
                        <!-- Image Section -->
                        <div class="d-flex justify-content-center align-items-center" style="height: 250px;">
                            {% if book.photo %}
                            <img src="{{ book.photo.url }}" class="img-fluid" alt="Cover of {{ book.title }}" style="max-height: 200px;">
                            {% else %}
                            <p>No image available</p>
                            {% endif %}
                        </div>
                        <!-- Book Details Section -->
                        <div class="card-body text-center">
                            <h5 class="card-title">{{ book.title }}</h5>
                            <p class="card-text small">
                                {% if book.author.all %}
                                    {% for author in book.author.all %}
                                        {{ author.first_name }} {{ author.last_name }}{% if not forloop.last %}, {% endif %}
                                    {% endfor %}
                                {% else %}
                                    <span class="text-muted">Unknown Author</span>
                                {% endif %}
                            </p>
                        </div>
                    </a>
                </div>
            </div>
            {% endfor %}
        {% else %}
        <p>No books available.</p>
        {% endif %}
    </div>

</div>
{% endblock content %}
